# General
.vscode
.idea
_things
desktop.ini
.DS_Store

# Tests and benchmarks
tests/store
tests/suite/**/*.pdf
03_infra/fuzz/target
03_infra/fuzz/corpus
03_infra/fuzz/artifacts
03_infra/fuzz/coverage
tarpaulin-report.html

# Rust
/target
**/*.rs.bk

# Node
node_modules
tools/test-helper/dist
package-lock.json

# Nix
/result
.direnv/
